@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;700&family=AmstelvarAlpha&family=Adamina&display=swap');

/* General Styles */
.home-container {
    padding: 20px;
}

.intro {
    text-align: center;
    margin: 20px 0;
}

.intro h1 {
    font-size: 50px;
    font-family: 'Adamina', serif;
}

.intro p {
    font-size: 20px;
    font-family: 'AmstelvarAlpha', serif;
}

.intro button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #706233;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.intro button:hover {
    background-color: #5a4e1f;
}

/* About Us Section */
.about-ushome {
    display: flex;
    margin: 40px 0;
    padding: 40px;
    border-radius: 10px;
    align-items: center;
}

.about-imagehome {
    flex: 2;
    margin-right: 0; /* Remove margin to ensure no gap */
}

.about-imagehome img {
    width: 100%;
    border-radius: 0px;
    /* position: relative; */
    z-index: 1;
}

.about-texthome {
    flex: 3;
    background-color: #e1c78f;
    padding: 73px;
    border-radius: 0px;
    color: #fff;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
}

.about-texthome h2 {
    font-size: 48px;
    font-family: 'Alegreya SC', serif;
    color: #000000;
    margin: 0 0 20px 0; /* Optional: Add margin between h2 and p */
}

.about-texthome p {
    font-size: 20px;
    font-family: 'AmstelvarAlpha', serif;
    color: #000000;
    margin: 0; /* Remove default margin */
}

/* Featured Products Section */
.featured-products {
    text-align: center;
    margin: 40px 0;
}

.featured-products h2 {
    font-size: 40px;
    font-family: 'Alegreya SC', serif;
}

.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
}

.product-carousel {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.product {
    flex: 0 0 25%;
    height: 500px; /* height to accommodate padding */
    padding: 10px;
    box-sizing: border-box;
    background: #fae7c9; /* background color to the product box */
    border: 1px solid #fae7c9; /* border to the product box */
    margin: 10px 20px; /* margin between product boxes */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* subtle shadow to the product box */
    transition: transform 0.3s;
}

.product img {
    width: 50%;
    height: 50%;
    object-fit: contain; 
}

.product:hover {
    transform: scale(1.05);
}

.prev,
.next {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Why Choose Us Section */
.why-choose-us {
    text-align: center;
    margin: 40px 0;
}

.why-choose-us h2 {
    font-size: 40px;
    font-family: 'Alegreya SC', serif;
}

.reasons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.reason {
    text-align: center;
    max-width: 200px;
}

.reason img {
    width: 100%;
    max-width: 100px;
    margin-bottom: 10px;
    transition: outline 0.3s ease-in-out; /* Smooth transition */
}

.reason img:hover {
    outline: 3px solid #5a4e1f; /* Outline on hover */
}

.reason p {
    font-size: 20px;
}

/* Trusted Clients Section */
.trusted-clients {
    text-align: center;
    margin: 40px 0;
}

.trusted-clients h2 {
    font-size: 40px;
    font-family: 'Alegreya SC', serif;
}

.clients-carousel {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}

.client {
    flex: 0 0 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client img {
    width: 40%;
    height: auto;
    padding: 10px;
    transition: transform 0.3s;
}

/* .client img:hover {
    transform: scale(1.1);
} */
