.about-container {
    font-family: Arial, sans-serif;
}

.about-us {
    background-color: #796642;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 20px auto; /* Add margin for the gap */
    width: 80%;
    max-width: 2000px;
    border-radius: 10px; /* Optional: Add rounded corners */
}

.about-us h2 {
    margin-bottom: 10px;
}

.vision-mission {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
}

.vision-mission-image {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

.our-story {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
}

.our-story h2 {
    margin-bottom: 10px;
}

.story-content {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.story-content p {
    margin-bottom: 15px;
}

.vertical-rectangle {
    width: 10px;
    height: 500px;
    background-color: #796642;
    position: absolute;
    left: 10%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    margin: auto;
}

.founder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.founder-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.founder-name {
    font-weight: bold;
}

.testimonial {
    background-color: #dfcdb3;
    padding: 20px;
    text-align: center;
}

.testimonial-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-content h3 {
    margin-bottom: 10px;
}

.testimonial-content p {
    margin-bottom: 10px;
}

.client-image-placeholder {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
}
