.form-container {
  position: relative;
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.form-button {
  padding: 10px;
  background-color: #af964c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #a08c45;
}
  
  .admin-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .admin-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #51410a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-buttons button:hover {
    background-color: #362b06;
  }
  
  .close-details {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close-details:hover {
    color: #000;
}