/* General styles for the footer */
.footer-container {
    background-color: #706233;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

.logo-container {
    margin-bottom: 20px;
}

.company-logo {
    width: 150px;
    height: auto;
}

.content-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.quick-links, .follow-us, .warehouse {
    flex: 1;
    margin: 0 10px;
}

.quick-links h3, .follow-us h3, .warehouse h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.quick-links ul, .follow-us ul {
    list-style: none;
    padding: 0;
}

.quick-links li, .follow-us li {
    margin-bottom: 5px;
    font-size: 18px;
}

.quick-links a {
    color: #000;
    text-decoration: none;
}

.quick-links a:hover {
    text-decoration: underline;
}

.icon {
    margin-right: 8px;
    size: 18px;
}

.warehouse p {
    margin: 0;
    font-size: 18px;
}

.footer-line {
    margin: 20px 0; /* Ensure some spacing around the horizontal line */
    border: none;
    border-top: 1px solid #000000;
}

.footer-bottom {
    padding: 10px 0;
    font-size: 14px;
    color: #000000;
}
